<div class="column">
  <div class="pp">
    <div>
      <label>LCD Refresh:</label>
    </div>
    <span>
      <label>LCD Refresh frequency</label>
      <input />
      <!--<input type="button" value="Save" />-->
    </span>
    <span>
      <label>LCD Refresh duration</label>
      <input />
      <!--<input type="button" value="Save" />-->
    </span>
  </div>
</div>
<div class="column">
  <div class="pp">
    <div>
      <span>
        <label>Auto record OFF:</label>
        <input type="checkbox" checked="checked">
      </span>
    </div>
    <div>
      <span>
        <label>Start record ON:</label>
        <input type="checkbox" checked="checked">
      </span>
    </div>
  </div>
  </div>
  <div class="column">
    <div>
      <span>
        <label>Free commands:</label>
        <input />
        <input type="button" value="SEND" />
      </span>
      <div>
        <label class="tooltip">
          commands:
          <span class="tooltiptext">commands sent to server</span>
        </label>
        <div class="command">
          # run full bit <br />

          # set camera swir<br />
          # set brightness 5<br />
          # fetch software version<br />
          # fetch sn<br />
          # save log in path: "c:\users\user_name\documents"<br />
          #
        </div>
      </div>
    </div>
  </div>
