<div>

  <img src="../images/logo.jpg" />
  <!--<detailed-item nname="bbb" nvalue="333"></detailed-item>-->
  <div>
    <label>Software version:</label>
    <span></span>
  </div>
  <div>
    <label>Hardware version:</label>
  </div>
  <div>
    <label>SWIR version</label>
  </div>
  <div>
    <label>serial Number</label>
  </div>
  <div>
    <label>SWIR version</label>
  </div>
  <div>
    <input type="button" value="Hour Counter" />
  </div>
  <div>
    <input type="button" value="BIT" />
  </div>
  <div>
    <input type="button" value="LOGS" />
  </div>
  <div>
    <label>Command:</label>
    <div></div>
  </div>
</div>
<body>



</body>

